@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: MuseoModerno, sans-serif;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 230, 20);
    border: 2px;
    border-style: none none solid none;
    border-color: rgb(210, 230, 20);
    animation-name: anim;
    animation-direction: normal;
    animation-duration: .2s;
}

header h1 {
    color: white;
    display: flex;
    justify-content: center;
}

#hamburger {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
  }

  #hamburger img {
    display: none;
  }

#hamburger img:hover {
    cursor: pointer;
    filter: invert(100%);
    transition: .5s;
}

body {
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 186, 77);
    height: 50px;
}

.nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.nav-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul {
    width: 75%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link:hover {
    background-color: rgb(18, 173, 73);
}

nav ul a {
    text-decoration: none;
}

#tables {
    min-height: calc(100vh - 90px - 175px - 50px)
}

#banor, #bastu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#banor table, #bastu table {
    width: 50%;
    height: 100%;
    border-color: aqua;
    border-style: solid;
    border-radius: 3px;
}

#banor table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
    background-color: rgb(196, 196, 196);
}

#bastu table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: rgb(196, 196, 196);
}

#banor table tr td, #bastu table tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 167, 5);
    border: 2px;
    border-style: solid;
    border-color: black;
}

#banor table tr td:hover, #bastu table tr td:hover {
    cursor: pointer;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 90px - 50px - 2px - 175px);
    border-radius: 5px;
    border: 2px;
}

.form {
    background-color: rgb(88, 88, 88);
    width: 40%;
    height: 300px;
    border-radius: 5px;
    border-radius: 3px;
    border-color: rgb(234, 234, 234);
    border-style: solid;
}

.form select {
    width: 50%;
    font-size: 14px;
    height: 25px;
}

.formPropertyOmkl {
    height: calc(300px/5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formPropertyBastu {
    height: calc(300px/4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formPropertyOmkl h2, .formPropertyBastu h2 {
    color: white;
}

.formPropertyOmkl input, .formPropertyBastu input {
    width: 30%;
}

.form a {
    text-decoration: none;
    color: black;
}

.row {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 350px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-basis: calc(100% / 3);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.item h1 {
    display: flex;
    justify-content: center;
    width: 75%;
}

.item p {
    display: flex;
    justify-content: center;
    width: 75%;
}

footer {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 175px;
    background-color: rgb(43, 43, 43);
    color: rgb(245, 245, 245);
}

footer p {
    margin-top: 15px;
    margin-left: 15px;
}

  @media only screen and (max-width: 1000px) {
      .item {
        flex-basis: calc(100% / 2);
      }

      .item img {
        height: 65%;
        width: calc(350px * 0.65);
        margin-top: 25px;
      }

      header {
        display: flex;
        justify-content: center;
        height: 50px;
      }

      header h1 {
        width: 60%;
      }

      nav {
        display: none;
      }

      .nav-links {
        display: none;
      }

      #banor table tr td, #bastu table tr td {
        font-size: 14px;
    }

    #hamburger {
        width: 50px;
        height: 50px;
      }

      #hamburger img {
        display: flex;
        width: 25px;
        height: 20px;
      }
}

@media only screen and (max-width: 850px) {
    #banor table tr td, #bastu table tr td {
        font-size: 12px;
    }
}

@media only screen and (max-width: 750px) {

    #banor table, #bastu table {
        width: 60%;
    }

    #banor table tr td, #bastu table tr td {
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 600px) {
    #menu-icon {
        display: flex;
        width: 37px;
        height: 22px;
        margin-right: 20px;
    }

    header h1 {
        font-size: 24px;
    }

    #banor table, #bastu table {
        width: 75%;
    }
  }

@media only screen and (max-width: 599px) {
    .item {
      flex-basis: calc(100%);
    }

    .item img {
      height: 100%;
      width: calc(350px * 1);
      margin-top: 25px;
    }

    #banor table, #bastu table {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    header h1 {
        font-size: 16px;
    }

    #hamburger {
        width: 50px;
    }

    #hamburger img {
        width: 15px;
        height: 12px;
    }
}